@model RevCookBookASP.Models.Recipe

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Recipe</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Dish.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Dish.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Language.LanguageCode)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Language.LanguageCode)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Text)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Text)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="RecipeId" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        @Html.ActionLink("Back to List", "Index")
    </form>
</div>
